In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

df = pd.read_csv('../data/Mall_Customers_Enhanced.csv')

df.head(15)

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Age Group,Estimated Savings (k$),Credit Score,Loyalty Years,Preferred Category
0,1,Male,19,15,39,18-25,11.10,456,3,Budget
1,2,Male,21,15,81,18-25,6.90,300,6,Luxury
2,3,Female,20,16,6,18-25,15.36,594,2,Budget
3,4,Female,23,16,77,18-25,7.79,300,6,Luxury
4,5,Female,31,17,40,26-35,12.47,480,5,Budget
5,6,Female,22,17,76,18-25,8.39,300,6,Luxury
6,7,Female,35,18,6,26-35,17.28,682,3,Budget
7,8,Female,23,18,94,18-25,6.72,300,7,Luxury
8,9,Male,64,19,3,51-65,18.62,699,6,Budget
9,10,Female,30,19,72,26-35,9.88,354,6,Luxury
10,11,Male,67,19,14,65+,17.23,657,7,Budget
11,12,Female,35,19,99,26-35,6.46,300,8,Luxury
12,13,Female,58,20,15,51-65,18.00,598,6,Budget
13,14,Female,24,20,77,18-25,9.73,300,6,Luxury
14,15,Male,37,20,13,36-50,18.27,606,4,Budget

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
 5   Age Group               196 non-null    object
 6   Estimated Savings (k$)  200 non-null    float64
 7   Credit Score            200 non-null    int64
 8   Loyalty Years           200 non-null    int64
 9   Preferred Category      200 non-null    object
dtypes: float64(1), int64(6), object(3)
memory usage: 15.8+ KB

In [32]:
def getAgeGroup(age):
    if 18 <= age <= 25:
        return '18-25'
    elif 26 <= age <= 35:
        return '26-35'
    elif 36 <= age <= 50:
        return '36-50'
    elif 51 <= age <= 65:
        return '51-65'
    elif age > 65:
        return '65+'

# Find rows with missing 'Age Group' and fill using getAgeGroup function
df['Age Group'] = df.apply(
    lambda row: getAgeGroup(row['Age']) if pd.isna(row['Age Group']) else row['Age Group'],
    axis=1
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
 5   Age Group               200 non-null    object
 6   Estimated Savings (k$)  200 non-null    float64
 7   Credit Score            200 non-null    int64
 8   Loyalty Years           200 non-null    int64
 9   Preferred Category      200 non-null    object
dtypes: float64(1), int64(6), object(3)
memory usage: 15.8+ KB